:root {
  --amarelin: #f7b450;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#section1 {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 980px;
}

#section1 > div {
  padding-top: 52px;
  padding-left: 100px;
  padding-right: 68px;
  width: 50%;
}

#section1 header {
  display: flex;
  align-items: flex-end;
}

#logo {
  margin-right: 141px;
}

#section1 header nav {
  display: flex;
  gap: 63px;
}

#section1 header nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transition: color 0.5s ease-in-out;

  color: #121111;
}

#section1 header nav a:hover {
  color: var(--amarelin);
}

#hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 810px;
}

#hero #quote {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

#hero #quote h6 {
  color: var(--amarelin);
  white-space: nowrap;
}

#hero #quote h2 {
  margin-left: 100px;
  text-align: right;
}

#hero h2 {
  font-size: 40px;
  font-weight: 600;
}

#hero span {
  color: var(--amarelin);
}

#banner {
  height: 100%;
}
