:root {
  --amarelin: #f7b450;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  display: flex;
}

body {
  font-family: "Montserrat", sans-serif;
}

#Section1_2 {
  height: 100%;
  margin: 0;
  padding: 0;
}
#PaulistanLibrary {
  height: 100%;
  margin: 0;
  padding: 0;
}
