* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: #1f1f1f;
  color: #fff;
}

#section-limiter {
  max-width: 1920px;
  margin: 0 auto;
}
