:root {
  --amarelin: #f7b450;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--amarelin);
  border-radius: 10px;
}

#section2 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  max-height: 48.188rem;
  align-items: center;
  max-width: 123.75rem; /* 123.75rem = 1980px */
  text-align: center;
  padding: 4rem 0 2rem;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
}

#about {
  justify-content: center;
  justify-items: center;
}

img#abt_img {
  width: 85%;
  border-radius: 0.5rem;
  height: 85%;
}

#section2 h2 {
  text-align: left;
  font-size: 2rem;
  color: #f7b450;
  font-weight: 700;
  font-style: bold;
}

h4 {
  text-align: center;
  padding-top: 0;
  margin-top: 1.5rem;
  color: var(--amarelin);
}

#section2 p {
  padding-top: 65px;
  max-width: 519px;
  height: 100%;
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 800px) {
  #section2 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
    text-align: justify;
  }
}
