:root {
  --amarelin: #f7b450;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--amarelin);
  border-radius: 10px;
}

#section2 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  max-height: 771px;
  align-items: center;
  max-width: 1980px;
  text-align: center;
  padding: 4rem 0 2rem;
}

#section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 67px;
  text-decoration: none;
  font-style: normal;
  max-height: 1080px;
  max-width: 1920px;
  margin: 0px auto;
}

#about {
  justify-content: center;
  justify-items: center;
}

img#abt_img {
  width: 600px;
  border-radius: 0.5rem;
}

#section2 h2 {
  text-align: left;
  font-size: 3rem;
  color: #f7b450;
  font-weight: 700;
  font-style: bold;
}

#section2 p {
  padding-top: 65px;
  max-width: 519px;
  font-size: 2rem;
  text-align: left;
}
