:root {
  --amarelin: #f7b450;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 54px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #fff;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--amarelin);
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--amarelin);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--amarelin);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--amarelin);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#section1 {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 980px;
}

#section1 > div {
  padding-top: 52px;
  padding-left: 100px;
  padding-right: 68px;
  width: 50%;
}

#section1 header {
  display: flex;
  align-items: flex-end;
}

#logo {
  margin-right: 141px;
}

#section1 header nav {
  display: flex;
  gap: 63px;
}

#section1 header nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transition: color 0.5s ease-in-out;

  color: #fff;
}

#section1 header nav a:hover {
  color: var(--amarelin);
}

#hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 810px;
}

#hero #quote {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

#hero #quote h6 {
  color: var(--amarelin);
  white-space: nowrap;
  font-size: px;
}

#hero #quote h2 {
  margin-left: 100px;
  text-align: right;
  color: #fff;
}

#hero h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

#hero span {
  color: var(--amarelin);
  text-align: center;
}

#banner {
  min-width: 100%;
  min-height: 100%;
  width: 1920px;
  height: auto;
  background: repeat;
  background-size: auto;
  filter: brightness(77%);
}
