:root {
  --amarelin: #f7b450;
  --background: #121214;
  --shape: #202024;
  --gray: #e1e1e6;
  --text: #a8a8b3;
  --support: #737380;
  --title: #ffffff;
  --subtitle: #9e9e9e;
  --primary: #8257e5;
  --primary-darker: #28203e;
  --primary-hover: #9466ff;
  --primary-border: #6833e4;
  --primary-shape: #734bd1;
  --defeat: #ab2a30;
  --win: #237563;
  --yellow: #ffcd1e;
  --green: #8cc84b;
  --green-low: #1c2a24;
  --green-darker: #0f3924;
  --shape-dark: #3c3c42;
  --shape-hover: #29292e;
  --icons: #41414d;
  --borders: #323238;
  --iron: #696362;
  --silver: #859ba2;
  --gold: #ebd061;
  --platinum: #4e9996;
  --diamond: #576bce;
  --master: #9d48e0;
  --grandmaster: #d94444;
  --challenger: #f4c874;
  --damage: #db3a2c;
  --defense: #8cc84b;
  --magic: #a32ddf;
  --difficulty: #2ac7e3;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#section1 {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 980px;
}

#section1 > div {
  padding-top: 52px;
  padding-left: 100px;
  padding-right: 68px;
  width: 50%;
}

#section1 header {
  display: flex;
  align-items: flex-end;
}

#logo {
  margin-right: 141px;
}

#section1 header nav {
  display: flex;
  gap: 63px;
}

#section1 header nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transition: color 0.5s ease-in-out;

  color: aliceblue;
}

#section1 header nav a:hover {
  color: var(--amarelin);
}

#hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 810px;
}

#search input {
  display: flex;
  width: 400px;
  height: 50px;
  padding-left: 200px;
  border-radius: 5px;
}

#hero #quote {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

#hero #quote h6 {
  color: var(--amarelin);
  white-space: nowrap;
  font-size: px;
}

#hero #quote h2 {
  margin-left: 100px;
  text-align: right;
  color: aliceblue;
}

#hero h2 {
  font-size: 40px;
  font-weight: 600;
  color: aliceblue;
}

#hero span {
  color: var(--amarelin);
  text-align: center;
}

#banner {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

#search {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  font-weight: 500px;
}

#searchwrapper {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
}

.btn {
  padding-top: 10px;
  width: 75%;
  margin: 10px 95px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, #fff, orange);
  cursor: pointer;
  height: 70%;
  text-align: center;
  outline: none;
}
