:root {
  --amarelin: #f7b450;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 54px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #fff;
}
#label {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input #checkbox {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input #checkbox:checked ~ .check {
  background: #fff;
  box-shadow: 0 0 0 1200px #092c3e;
}

.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0, 5s;
}

input #checkbox:checked ~ .check::before {
  transform: translateX(-50px);
}

.check::after {
  content: icon;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #092c3e;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0, 5s;
  transform: translateX(50px);
}

input #checkbox:checked ~ .check::after {
  transform: translateX(0px);
}

#section1 {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 980px;
}

#section1 > div {
  padding-top: 52px;
  padding-left: 100px;
  padding-right: 68px;
  width: 50%;
}

#section1 header {
  display: flex;
  align-items: flex-end;
}

#logo {
  margin-right: 141px;
}

#section1 header nav {
  display: flex;
  gap: 63px;
}

#section1 header nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transition: color 0.5s ease-in-out;

  color: #fff;
}

#section1 header nav a:hover {
  color: var(--amarelin);
}

#hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 810px;
}

#search input {
  display: flex;
  width: 400px;
  height: 50px;
  padding-left: 200px;
  border-radius: 5px;
}

#hero #quote {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

#hero #quote h6 {
  color: var(--amarelin);
  white-space: nowrap;
  font-size: px;
}

#hero #quote h2 {
  margin-left: 100px;
  text-align: right;
  color: #fff;
}

#hero h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

#hero span {
  color: var(--amarelin);
  text-align: center;
}

#banner {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 1920;
  height: auto;
  z-index: -1000;
  background: no-repeat;
  background-size: auto;
  filter: brightness(50%);
}

#search {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  font-weight: 500px;
}

#searchwrapper {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
}

.btn {
  padding-top: 10px;
  width: 75%;
  margin: 10px 95px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, #fff, orange);
  cursor: pointer;
  height: 70%;
  text-align: center;
  outline: none;
}
