@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --amarelin: #f7b450;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#section4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 67px;
  text-decoration: none;
  font-style: normal;
  max-height: 1080px;
  max-width: 1920px;
  margin: 400px auto;
  align-items: center;
  padding-left: 100px;
}
#devs {
  text-align: left;
  font-size: 3rem;
  color: #f7b450;
  padding-left: 300px;
}

.card {
  position: absolute;
  height: 350px;
  width: 100%;
  max-width: 850px;
  margin: auto;
  background-color: #d3d3d3da;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  box-shadow: 10px 0 50px rgba(53, 52, 52, 0.5);
  align-items: center;
  justify-content: center;
}
div.inner_part {
  display: flex;
  align-items: center;
  padding: 0rem;
  position: relative;
  padding-left: 40px;
}

.card .inner_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  height: 350px;
  position: absolute;
}

#slideImg:checked ~ .inner_part {
  padding: 0;
  transition: 0.1s ease-in;
}

.inner_part .img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

#slideImg:checked ~ .inner_part .img {
  height: 350px;
  width: 850px;
  z-index: 99;
  transition: 0.3s 0.2s ease-in;
}

.img img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}

#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: 0.3s;
  justify-content: center;
}

#slideImg:checked ~ .inner_part .content {
  display: none;
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: 0.3s;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 20px 0;
}

.content .text {
  font-size: 19px;
  color: #4e4a67;
  margin: 0 auto 30px auto;
  line-height: 1.5em;
  text-align: justify;
}

.content button {
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: #000000;
  float: right;
  text-decoration: none;
}

.content button:hover {
  background: #cecece;
  color: #000000;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}

#slideImg:checked ~ .slider {
  display: none;
}

.slider .slide {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}

.slider .slide:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: #000000;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before {
  transform: scaleX(1);
  width: 100%;
}

input {
  display: none;
  text-decoration: none;
}
a.text {
  text-decoration: none;
}

#section4 h2 {
  padding-right: 50px;
  font-size: 40px;
  text-align: right;
}

#section4 p {
  padding-right: 208px;
  padding-top: 65px;
  max-width: 519px;
  font-size: 25px;
  text-align: left;
}

#section4 h3 {
  padding: 0%;
  text-align: initial;
}

#section4 h4 {
  text-align: initial;
  color: #f7b450;
}

#section escadinha {
  padding-right: 0;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#section4 {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  max-width: 1980px;
  align-items: center;
  padding-top: 0px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-left: 100px;
}

#section4 img {
  max-width: 667px;
  max-height: 588px;
}

#section4 h2 {
  padding-left: 35px;
  font-size: 40px;
}

#section4 p {
  padding-left: 217px;
  padding-top: 65px;
  max-width: 488px;
  font-size: 25px;
}

#section4 h3 {
  padding: 0%;
  text-align: end;
}

#section4 h4 {
  text-align: end;
  color: #f7b450;
}
