#section_1 #section_1_banner {
  width: 85%;
  height: 80vh;
  max-height: 700px;
  overflow: hidden;
}

#section_1 #section_1_banner img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

#section_1 #section_1_banner img:hover {
  filter: brightness(0.5);
}

#section_1_infos {
  margin-top: 35px;
  margin-left: 100px;
}

#section_1 #section_1_title {
  font-size: 3rem;
}

#section_1 #section_1_subtitle {
  font-size: 1.5rem;
  margin-left: 50px;
  color: #f7b450;
  font-weight: 300;
  font-style: italic;
}
