:root {
  --amarelin: #f7b450;
}

#section_1 #section_1_banner {
  width: 85%;
  height: 80%;
  max-height: 700px;
  overflow: hidden;
}

#section_1 #section_1_banner img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

#section_1 #section_1_banner img:hover {
  filter: brightness(0.5);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #7e7e7e56;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  font-style: none;
}
