:root {
  --amarelin: #f7b450;
}

#section_1 #section_1_banner {
  width: 85%;
  height: 80%;
  max-height: 700px;
  overflow: hidden;
}

#section_1 #section_1_banner img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

#section_1 #section_1_banner img:hover {
  filter: brightness(0.5);
}
