#section_3 {
  display: flex;
  align-items: center;
  gap: 58px;
}

#section_3_image {
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
}

#section_3_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#section_3_hero {
  padding-right: 1rem;
}

#section_3_hero-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 49px;
  font-style: italic;
}

#section_3_hero-title span {
  color: #f7b450;
}

#section_3_hero-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  text-align: right;

  color: #f7b450;
  margin-top: 30px;
}

@media (max-width: 800px) {
  #section_3 {
    flex-direction: column;
  }

  #section_3_image {
    max-width: 100%;
  }
  #section_3_hero {
    padding: 32px;
  }
}
